<template>
  <v-container fluid grid-list-nd>
    <v-layout row wrap>
      <v-flex xs12>
        <v-sheet class="pa-1" color="grey lighten-4">
          <v-layout>
            <v-spacer></v-spacer>
            <v-flex xs2 md1>
              <cadastro-despesa />
            </v-flex>
          </v-layout>
        </v-sheet>
      </v-flex>
    </v-layout>

    <v-layout row wrap>
      <v-flex xs12 sm12 md8 mt-2>
        <v-card flat>
          <v-layout row wrap>
            <v-flex sm12 xs12>
              <v-card class="card--flex-toolbar">
                <v-toolbar card prominent>
                  <v-layout row wrap>
                    <v-flex xs8 md10>
                      <blockquote class="blockquote title">Despesas cadastradas</blockquote>
                    </v-flex>
                    <v-spacer></v-spacer>
                  </v-layout>
                </v-toolbar>
                <!-- TABELA -->
                <v-divider></v-divider>
                <v-card-text>
                  <v-data-table
                    :headers="headers"
                    :items="despesas.content"
                    :search="search"
                    hide-actions
                    class="elevation-1"
                  >
                    <template v-slot:items="props">
                      <td>{{ props.item.descricao }}</td>
                      <td class="text-xs-left">{{ props.item.valor }}</td>
                      <td class="text-xs-left">{{ props.item.data }}</td>
                      <td row>
                        <v-layout row wrap>
                          <v-flex mr-0>
                            <span
                              class="headline"
                              :class="{'red--text' : !props.item.pago, 'green--text': props.item.pago}"
                            >&bull;</span>
                          </v-flex>
                          <span class="mt-2">{{ props.item.pago ? 'pago':'devendo' }}</span>
                        </v-layout>
                      </td>
                      <td class="text-xs-left">{{ props.item.nomeConta }}</td>
                      <td class="text-xs-left">{{ props.item.nomeCategoria }}</td>
                      <td class="pr-1 pl-1">
                        <v-layout row wrap lg12 md12 xs12>
                          <v-flex lg3 md6 xs6>
                            <altera-despesa :despesa="props.item" />
                          </v-flex>
                          <v-flex lg3 md6 xs6>
                            <modal-confirmacao
                              titulo="Pagamento"
                              mensagem="Confirmar o pagamento da despesa?"
                              :icone="props.item.pago ? 'check_box' : 'check_box_outline_blank'"
                              @confirmaModal="confirmPayment(props.item)"
                            />
                          </v-flex>
                          <v-flex lg3 md6 xs6>
                            <altera-conta-despesa
                              :despesaid="props.item.id"
                              @conta-selecionada="updateConta"
                            />
                          </v-flex>
                          <v-flex lg3 md6 xs6>
                            <modal-confirmacao
                              titulo="Exclusão"
                              mensagem="Deseja excluir essa despesa?"
                              icone="delete"
                              @confirmaModal="deleteExpense(props.item)"
                            />
                          </v-flex>
                        </v-layout>
                      </td>
                    </template>
                  </v-data-table>
                  <div class="text-xs-center pt-2">
                    <v-pagination
                      v-model="pagination.page"
                      :length="despesas.totalPages"
                      @input="proximaPagina"
                    ></v-pagination>
                  </div>
                </v-card-text>
              </v-card>
            </v-flex>
          </v-layout>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import AlteraDespesa from "../../components/alteracao/AlteraDespesa";
import CadastroDespesa from "../../components/cadastro/CadastroDespesa";
import ModalConfirmacao from "../../components/global/ModalConfirmacao";
import AlteraContaDespesa from "../../components/alteracao/AlteraContaDespesa";

import { mapActions, mapState } from "vuex";

export default {
  name: "Despesas",
  data: () => ({
    pagination: {},
    search: "",
    headers: [
      { text: "Descricao", align: "left", value: "descricao" },
      { text: "Valor", value: "valor" },
      { text: "Data", value: "data" },
      { text: "Pago", value: "pago", sortable: false },
      { text: "Conta", value: "nomeConta" },
      { text: "Categoria", value: "nomeCategoria" },
      { text: "Ações", value: "nome", sortable: false }
    ]
  }),
  components: {
    CadastroDespesa,
    AlteraDespesa,
    ModalConfirmacao,
    AlteraContaDespesa
  },
  computed: {
    ...mapState("auth", ["user"]),
    ...mapState("expense", ["despesas"])
  },
  methods: {
    ...mapActions("expense", ["ActionDoFindListDespesas"]),
    ...mapActions("expense", ["ActionDoConfirmPayment"]),
    ...mapActions("expense", ["ActionDoUpdateConta"]),
    ...mapActions("expense", ["ActionDoDeleteDespesa"]),
    proximaPagina() {
      this.ActionDoFindListDespesas({
        id: this.user.id,
        page: this.pagination.page - 1,
        size: 5
      });
    },
    async confirmPayment(item) {
      console.log(item);
      this.$root.$emit("Loading::show");
      try {
        await this.ActionDoConfirmPayment(item.id);
        this.$root.$emit("Notification::show", {
          tipo: "success",
          message: "Pagamento confirmado com sucesso!"
        });
      } catch (erro) {
        if (erro.status === 400) {
          this.$root.$emit("Notification::show", {
            tipo: "warning",
            message:
              "Alerta! Campo: " + erro.body.campo + " - " + erro.body.erro
          });
        } else {
          this.$root.$emit("Notification::show", {
            tipo: "error",
            message: "Houve um erro ao confirmar recebimento!"
          });
        }
      } finally {
        this.$root.$emit("Loading::hide");
      }
    },
    async updateConta(payload) {
      this.$root.$emit("Loading::show");

      try {
        await this.ActionDoUpdateConta(payload);
        this.$root.$emit("Notification::show", {
          tipo: "success",
          message: "Conta de pagamento alterada com sucesso!"
        });
      } catch (erro) {
        if (erro.status === 400) {
          this.$root.$emit("Notification::show", {
            tipo: "warning",
            message:
              "Alerta! Campo: " + erro.body.campo + " - " + erro.body.erro
          });
        } else {
          this.$root.$emit("Notification::show", {
            tipo: "error",
            message: "Houve um erro ao altera conta de pagamento!"
          });
        }
      } finally {
        this.$root.$emit("Loading::hide");
      }
    },
    async deleteExpense(item) {
      this.$root.$emit("Loading::show");
      try {
        await this.ActionDoDeleteDespesa(item.id);
        this.$root.$emit("Notification::show", {
          tipo: "success",
          message: "Despesa excluida com sucesso!"
        });
      } catch (error) {
        this.$root.$emit("Notification::show", {
          tipo: "error",
          message: "Houve um erro ao excluir despesa!"
        });
      } finally {
        this.$root.$emit("Loading::hide");
      }
    }
  },
  mounted() {
    this.ActionDoFindListDespesas({ id: this.user.id, page: 0, size: 5 });
  }
};
</script>