<template>
  <v-content>
    <v-container>
      <v-layout align-center justify-center>
        <v-flex md4 lg5 sm6>
          <v-card color="cyan darken-2" class="white--text">
            <form @submit.prevent="submit()">
              <v-card-title>
                <v-spacer></v-spacer>
                <h2>Login</h2>
                <v-spacer></v-spacer>
              </v-card-title>
              <v-card-text>
                <v-text-field
                  prepend-inner-icon="person"
                  v-model="form.email"
                  label="E-mail"
                  type="email"
                  solo
                ></v-text-field>
                <v-text-field
                  prepend-inner-icon="lock"
                  v-model="form.senha"
                  label="Senha"
                  type="password"
                  solo
                ></v-text-field>
              </v-card-text>
              <v-divider light></v-divider>
              <v-card-actions class="pa-3">
                esqueci minha senha
                <v-spacer></v-spacer>
                <v-btn type="submit" color="primary">Entrar</v-btn>
              </v-card-actions>
            </form>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </v-content>
</template>

<script>
import { mapActions } from "vuex";

export default {
  data: () => ({
    form: {
      email: "",
      senha: ""
    }
  }),
  methods: {
    ...mapActions("auth", ["ActionDoLogin"]),
    ...mapActions("auth", ["ActionSetLogged"]),
    async submit() {
       this.$root.$emit("Loading::show");
      try {
        await this.ActionDoLogin(this.form);
        this.ActionSetLogged(true);
        this.$router.push({ name: "home" });
      } catch (err) {
        
        if (err.status === 400) {
          this.$root.$emit("Notification::show", {
            tipo: "warning",
            message:"Usuário e senha inválidos"
          });
        } else{
          this.$root.$emit("Notification::show", {
            tipo: "error",
            message:"Não foi possível fazer login"
          });
        }
      }finally{
         this.$root.$emit("Loading::hide");
      }
    }
  }
};
</script>
