<template>
  <v-container fluid grid-list-md>
    <v-layout row wrap>
      <v-flex xs12>
        <v-sheet class="pa-1" color="grey lighten-4">
          <v-layout>
            <v-spacer></v-spacer>
            <v-flex xs1>
              <cadastro-categoria></cadastro-categoria>
            </v-flex>
          </v-layout>
        </v-sheet>
      </v-flex>
    </v-layout>

    <v-layout row wrap>
      <v-flex xs12 sm8>
        <v-card>
          <v-card-title primary-title>
            <v-chip label class="pa-2" color="pink" text-color="white">
              <v-icon left>label</v-icon>Listagem de categorias cadastradas
            </v-chip>
          </v-card-title>
          <v-card-text>
            <v-data-table :headers="headers" :items="categorias" class="elevation-1" dark>
              <template v-slot:items="props">
                <td class="grey--text text--darken-0">{{ props.item.nome }}</td>
                <td
                  class="text-lowercase"
                  :class="{'red--text':!isDespesa(props.item.tipo), 'green--text':isDespesa(props.item.tipo)}"
                >&#9679; {{ props.item.tipo }}</td>
                <td class="grey--text text--darken-2">
                  <v-icon :color="props.item.cor">{{props.item.icone}}</v-icon>
                </td>
                <td class="align-center">
                  <v-layout row wrap>
                    <v-flex xs3 class="mr-2">
                      <altera-categoria :categoria="props.item" class="mt-0" />
                    </v-flex>
                    <v-flex xs3>
                      <modal-confirmacao
                        class="mt-0"
                        icone="delete"
                        titulo="Exclusão"
                        mensagem="Deseja excluir esta categoria?"
                        @confirmaModal="deleteItem(props.item)"
                      ></modal-confirmacao>
                    </v-flex>
                  </v-layout>
                </td>
              </template>
            </v-data-table>
          </v-card-text>
          <v-card-actions></v-card-actions>
        </v-card>
      </v-flex>

      <v-flex xs12 sm4>
        <v-card>
          <v-card>
            <v-card-title primary-title>
              <div>
                <h3 class="headline mb-0">headline</h3>
                <div>description</div>
              </div>
            </v-card-title>
            <v-card-actions>
              <v-btn flat color="primary">text</v-btn>
              <v-btn flat color="primary">text</v-btn>
            </v-card-actions>
          </v-card>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import CadastroCategoria from "../../components/cadastro/CadastroCategoria";
import ModalConfirmacao from "../../components/global/ModalConfirmacao";
import AlteraCategoria from "../../components/alteracao/AlteraCategoria";
import { mapActions, mapState } from "vuex";

export default {
  name: "Categoria",
  data: () => ({
    dialog: false,
    headers: [
      { text: "Nome", align: "left", value: "nome" },
      { text: "Tipo", value: "tipo" },
      { text: "Cor", sortable: false, value: "cor" },
      { text: "Ações", value: "nome", sortable: false }
    ],
    editedIndex: -1,
    editedItem: {
      id: 0,
      nome: "",
      tipo: "",
      cor: ""
    },
    defaultItem: {
      id: 0,
      nome: "",
      tipo: "",
      cor: ""
    }
  }),
  components: {
    CadastroCategoria,
    ModalConfirmacao,
    AlteraCategoria
  },
  mounted() {
    this.ActionFindListCategorias();
  },
  methods: {
    ...mapActions("category", ["ActionFindListCategorias"]),
    ...mapActions("category", ["ActionDoDeleteCategoria"]),
    isDespesa(tipo) {
      if (tipo === "RECEITA") {
        return true;
      }
      return false;
    },
    editItem(item) {
      this.editedIndex = this.categorias.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },
    async deleteItem(item) {
      await this.ActionDoDeleteCategoria(item.id);
    },
    close() {
      this.dialog = false;
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    }
  },
  computed: {
    ...mapState("category", ["categorias"])
  }
};
</script>

<style>
</style>
