<template>
  <v-layout>
    <v-btn icon @click="dialog = true">
      <v-icon>compare_arrows</v-icon>
    </v-btn>
    <v-dialog v-model="dialog" persistent max-width="350">
      <v-card>
        <form @submit.prevent="submit()">
          <v-card-title>
            <span class="headline">Trenferência de valor</span>
          </v-card-title>
          <v-card-text>
            <v-container grid-list-md>
              <v-layout wrap>
                <v-flex xs12>
                  <v-text-field v-model="form.valor" label="Valor *" type="tel" required></v-text-field>
                </v-flex>
                <v-flex xs12>
                  <v-select
                    v-model="form.origem"
                    :items="allContas"
                    item-text="nome"
                    item-value="id"
                    label="Conta origem"
                    required
                  ></v-select>
                </v-flex>
                <v-flex xs12>
                  <v-select
                    v-model="form.destino"
                    :items="allContas"
                    item-text="nome"
                    item-value="id"
                    label="Conta origem"
                    required
                  ></v-select>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" flat @click="dialog = false">Cancelar</v-btn>
            <v-btn color="blue darken-1" flat type="submit" @click="dialog = false">Salvar</v-btn>
          </v-card-actions>
        </form>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import { mapActions, mapState } from "vuex";

export default {
  name: "Transferencia",
  data: () => ({
    dialog: false,
    form: {
      valor: 0,
      origem: 0,
      destino: 0
    }
  }),
  methods: {
    ...mapActions("account", ["ActionTransfers"]),
    ...mapActions("account", ["ActionFindListAllContas"]),

    async submit() {
      this.$root.$emit("Loading::show");
      try {
        await this.ActionTransfers(this.form);
        this.$root.$emit("Notification::show", {
          tipo: "info",
          message: "Transferência realizada com sucesso!"
        });
        this.ActionFindListAllContas({ id: this.user.id });
      } catch (erro) {
        if (erro.status === 400) {
          this.$root.$emit("Notification::show", {
          tipo: "warning",
          message: "Alerta! campo: " + erro.body.campo + ", " + erro.body.erro 
        });
        }else{
          this.$root.$emit("Notification::show", {
          tipo: "error",
          message: "Houve um erro ao tentar tranferir!"
        });
        }
      } finally {
        this.limpaForm();
        this.$root.$emit("Loading::hide");
      }
    },
    limpaForm() {
      this.form.valor = 0;
      this.form.origem = 0;
      this.form.destino = 0;
    }
  },
  computed: {
    ...mapState("account", ["allContas"]),
    ...mapState("auth", ["user"])
  },
  mounted() {
    this.ActionFindListAllContas({ id: this.user.id });
  }
};
</script>