<template>
  <v-container fluid grid-list-xs>
    <v-layout row wrap>
      <v-flex xs12>
        <v-sheet class="pa-1" color="grey lighten-4">
          <v-layout>
            <v-spacer></v-spacer>
            <v-flex xs2 md1>
              <cadastro-cartao></cadastro-cartao>
            </v-flex>
          </v-layout>
        </v-sheet>
      </v-flex>
    </v-layout>

    <v-layout row wrap>
      <v-flex xs12 md7 lg7 mt-2>
        <v-card class="mx-auto elevation-1">
          <v-card-actions>
            <v-btn :disabled="step === 1" flat @click="step--">
              <v-icon>{{this.step === 1 ? 'arrow_forward_ios' : 'arrow_back_ios'}}</v-icon>
              <v-icon>{{iconBack}}</v-icon>
            </v-btn>
            <v-spacer></v-spacer>
            <v-card-title primary-title>title</v-card-title>
          </v-card-actions>
          <v-window v-model="step">
            <!-- CARTOES -->
            <v-window-item :value="1">
              <v-layout row justify-space-around grid-list-sm>
                <v-flex
                  xs12
                  md6
                  lg6
                  class="ma-2 pa-2"
                  @click="loadFaturas(card)"
                  v-for="(card, index) in cartoes"
                  :key="index"
                >
                  <v-card>
                    <v-card-title primary-title>
                      {{card.descricao}}
                      <v-spacer></v-spacer>
                      <v-icon x-large :color="card.bandeira.cor">{{card.bandeira.icone}}</v-icon>
                    </v-card-title>
                    <v-card-text>
                      <v-layout row wrap>
                        <h2>fatura atual 245,34</h2>
                        <v-spacer></v-spacer>
                        <compra-cartao></compra-cartao>
                      </v-layout>
                    </v-card-text>
                    <v-card-actions>
                      <v-layout row wrap>
                        <v-flex xs12>limite disponível {{card.limite}}</v-flex>
                        <v-flex xs12>
                          <v-progress-linear color="info" height="5" value="30"></v-progress-linear>
                        </v-flex>
                      </v-layout>
                    </v-card-actions>
                  </v-card>
                </v-flex>
              </v-layout>
            </v-window-item>

            <!-- LISTA FATURAS -->
            <v-window-item :value="2">
              <v-layout row wrap>
                <v-flex>
                  <v-list class="pt-0 pb-0">
                    <template v-for="(item, index) in faturas">
                      <v-list-tile
                        :key="index"
                        avatar
                        @click="loadItens(item)"
                        :class="'TEXT--'+item.statusFatura"
                        class="elevation-1 mt-0"
                      >
                        <v-list-tile-content>
                          <v-list-tile-title>{{item.mes}} {{item.ano}}</v-list-tile-title>
                        </v-list-tile-content>
                        <v-list-tile-action>
                          <v-list-tile-content>{{item.valor}}</v-list-tile-content>
                        </v-list-tile-action>
                      </v-list-tile>
                    </template>
                  </v-list>
                </v-flex>
              </v-layout>
            </v-window-item>

            <!-- DETALHES FATURAS -->
            <v-window-item :value="3">
              <v-layout row wrap>
                <v-flex>
                  <v-card min>
                    <v-card-text
                      dark
                      primary-title
                      :class="fatura.statusFatura"
                      class="elevation-1"
                    >
                      <div dark class="text-xs-center">
                        <span class="display-2">R$ {{fatura.valor}}</span>
                        <br />
                        <span class="font-weight-thin">fechamento em {{fatura.fechamento | moment("DD-MM")}}</span>
                        <br />
                        <span class="font-weight-thi">vencimento em {{fatura.vencimento | moment("DD-MM")}}</span>
                      </div>
                    </v-card-text>
                    <v-card-text>
                      <v-list dense expand light class="pa-0">
                        <template v-for="(item, i) in fatura.itens">
                          <v-list-tile :key="i" avatar class="mt-0 mb-0">
                            <v-list-tile-avatar>{{item.data | moment("DD/MM")}}</v-list-tile-avatar>
                            <v-list-tile-content>
                              <v-list-tile-content>{{item.descricao}} {{item.parcela}} </v-list-tile-content>
                            </v-list-tile-content>
                            <v-list-tile-action>
                              <v-list-tile-content class="text-lg-right">
                                <v-layout row wrap>
                                  <v-flex xs6>{{item.valor}}</v-flex>
                                  <v-flex xs6>
                                    <v-icon>add</v-icon>
                                  </v-flex>
                                </v-layout>
                              </v-list-tile-content>
                            </v-list-tile-action>
                          </v-list-tile>
                        </template>
                      </v-list>
                    </v-card-text>
                    <v-card-actions class="center elevation-1" v-if="fatura.statusFatura === 'FECHADA' || fatura.statusFatura === 'VENCIDA' ">
                      <v-btn color="success">Pagar Fatura</v-btn>
                    </v-card-actions>
                  </v-card>
                </v-flex>
              </v-layout>
            </v-window-item>
          </v-window>

          <v-divider></v-divider>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { mapActions, mapState } from "vuex";
import CadastroCartao from "../../components/cadastro/CadastroCartao";
import CompraCartao from "../../components/cadastro/CompraCartao";
import * as moment from "moment";
import "moment/locale/pt-br";

export default {
  name: "Cartoes",
  data: () => ({
    step: 1,
    fatura: {}
  }),
  components: {
    CadastroCartao,
    CompraCartao
  },
  methods: {
    ...mapActions("card", ["ActionDoListAllCartoes"]),
    ...mapActions("invoice", ["ActionDoListAllFaturas"]),
    loadFaturas(item) {
      this.ActionDoListAllFaturas({ id: item.id });
      this.step++;
    },
    loadItens(item) {
      console.log("Item ", item);
      this.fatura = item;
      this.step++;
    }
  },
  computed: {
    ...mapState("auth", ["user"]),
    ...mapState("card", ["cartoes"]),
    ...mapState("invoice", ["faturas"]),
    iconBack() {
      switch (this.step) {
        case 1:
          return "view_list";
          break;
        case 2:
          return "credit_card";
          break;
        default:
          return "view_list";
          break;
      }
    }
  },
  mounted() {
    this.ActionDoListAllCartoes({ id: this.user.id });
  }
};
</script>
<style scoped>
.ABERTA {
  background-color: #4fc3f7;
  color: #ffffff;
}
.TEXT--ABERTA {
  color: #4fc3f7;
}

.TEXT-FECHADA {
  color: #f4511e;
}
.FECHADA {
  background-color: #f4511e;
  color: #ffffff;
}

.TEXT--PAGA {
  color: #76ff03;
}
.PAGA {
  background-color: #76ff03;
  color: #ffffff;
}

.TEXT--VENCIDA {
  color: #d50000;
}
.VENCIDA {
  background-color: #d50000;
  color: #ffffff;
}

.TEXT--FUTURA {
  color: #ffa000;
}
.FUTURA {
  background-color: #ffa000;
  color: #ffffff;
}
</style>
