<template>
  <v-container fluid grid-list-nd>
    <v-layout row wrap>
      <v-flex xs12>
        <v-sheet class="pa-1" color="grey lighten-4">
          <v-layout>
            <v-spacer></v-spacer>
            <v-flex xs2 md1>
              <cadastro-receita />
            </v-flex>
          </v-layout>
        </v-sheet>
      </v-flex>
    </v-layout>

    <v-layout row wrap>
      <v-flex xs12 sm12 md8 mt-2>
        <v-card flat>
          <v-layout row wrap>
            <v-flex sm12 xs12>
              <v-card class="card--flex-toolbar">
                <v-toolbar card prominent>
                  <v-layout row wrap>
                    <v-flex xs8 md10>
                      <blockquote class="blockquote title">Receitas cadastradas</blockquote>
                    </v-flex>
                    <v-spacer></v-spacer>
                    <!-- <v-flex xs2 md2>
                      <v-btn color="success">text</v-btn>
                    </v-flex>
                    <v-flex xs2 md2>
                      <v-btn color="success">text</v-btn>
                    </v-flex>-->
                  </v-layout>
                </v-toolbar>
                <!-- TABELA -->
                <v-divider></v-divider>
                <v-card-text>
                  <v-data-table
                    :headers="headers"
                    :items="receitas.content"
                    :search="search"
                    hide-actions
                    class="elevation-1"
                  >
                    <template v-slot:items="props">
                      <td>{{ props.item.descricao }}</td>
                      <td class="text-xs-left">{{ props.item.valor }}</td>
                      <td class="text-xs-left">{{ props.item.data }}</td>
                      <td row>
                        <v-layout row wrap>
                          <v-flex mr-0>
                            <span
                              class="headline"
                              :class="{'red--text' : !props.item.recebida, 'green--text': props.item.recebida}"
                            >&bull;</span>
                          </v-flex>
                          <span class="mt-2">{{ props.item.recebida ? 'recebida':'pendente' }}</span>
                        </v-layout>
                      </td>
                      <td class="text-xs-left">{{ props.item.nomeConta }}</td>
                      <td class="text-xs-left">{{ props.item.nomeCategoria }}</td>
                      <td class="pr-1 pl-1">
                        <v-layout row wrap lg12 md12 xs12>
                          <v-flex lg3 md6 xs6>
                            <altera-receita :receita="props.item" />
                          </v-flex>
                          <v-flex lg3 md6 xs6>
                            <modal-confirmacao
                              titulo="Recebimento"
                              mensagem="Confirmar o recebimento da receita?"
                              :icone="props.item.recebida ? 'check_box' : 'check_box_outline_blank'"
                              @confirmaModal="confirmReceive(props.item)"
                            />
                          </v-flex>
                          <v-flex lg3 md6 xs6>
                            <altera-conta-receita
                              :receitaid="props.item.id"
                              @conta-selecionada="updateConta"
                            />
                          </v-flex>
                          <v-flex lg3 md6 xs6>
                            <modal-confirmacao
                              titulo="Exclusão"
                              mensagem="Deseja excluir essa receita?"
                              icone="delete"
                              @confirmaModal="deleteReceive(props.item)"
                            />
                          </v-flex>
                        </v-layout>
                      </td>
                    </template>
                  </v-data-table>
                  <div class="text-xs-center pt-2">
                    <v-pagination
                      v-model="pagination.page"
                      :length="receitas.totalPages"
                      @input="proximaPagina"
                    ></v-pagination>
                  </div>
                </v-card-text>
              </v-card>
            </v-flex>
          </v-layout>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import AlteraReceita from "../../components/alteracao/AlteraReceita";
import CadastroReceita from "../../components/cadastro/CadastroReceita";
import ModalConfirmacao from "../../components/global/ModalConfirmacao";
import AlteraContaReceita from "../../components/alteracao/AlteraContaReceita";

import { mapActions, mapState } from "vuex";

export default {
  name: "Receitas",
  data: () => ({
    pagination: {},
    search: "",
    headers: [
      { text: "Descricao", align: "left", value: "descricao" },
      { text: "Valor", value: "valor" },
      { text: "Data", value: "data" },
      { text: "Recebido", value: "recebida", sortable: false },
      { text: "Conta", value: "nomeConta" },
      { text: "Categoria", value: "nomeCategoria" },
      { text: "Ações", value: "nome", sortable: false }
    ]
  }),
  components: {
    CadastroReceita,
    AlteraReceita,
    ModalConfirmacao,
    AlteraContaReceita
  },
  computed: {
    ...mapState("auth", ["user"]),
    ...mapState("recipe", ["receitas"])
  },
  methods: {
    ...mapActions("recipe", ["ActionDoFindListReceitas"]),
    ...mapActions("recipe", ["ActionDoConfirmReceive"]),
    ...mapActions("recipe", ["ActionDoUpdateConta"]),
    ...mapActions("recipe", ["ActionDoDeleteReceive"]),
    proximaPagina() {
      this.ActionDoFindListReceitas({
        id: this.user.id,
        page: this.pagination.page - 1,
        size: 5
      });
    },
    async confirmReceive(item) {
      console.log(item);
      this.$root.$emit("Loading::show");
      try {
        await this.ActionDoConfirmReceive(item.id);
        this.$root.$emit("Notification::show", {
          tipo: "success",
          message: "Pagamento confirmado com sucesso!"
        });
      } catch (erro) {
        if (erro.status === 400) {
          this.$root.$emit("Notification::show", {
            tipo: "warning",
            message:
              "Alerta! Campo: " + erro.body.campo + " - " + erro.body.erro
          });
        } else {
          this.$root.$emit("Notification::show", {
            tipo: "error",
            message: "Houve um erro ao confirmar recebimento!"
          });
        }
      } finally {
        this.$root.$emit("Loading::hide");
      }
    },
    async updateConta(payload) {
      this.$root.$emit("Loading::show");

      try {
        await this.ActionDoUpdateConta(payload);
        this.$root.$emit("Notification::show", {
          tipo: "success",
          message: "Conta de recebimento alterada com sucesso!"
        });
      } catch (erro) {
        if (erro.status === 400) {
          this.$root.$emit("Notification::show", {
            tipo: "warning",
            message:
              "Alerta! Campo: " + erro.body.campo + " - " + erro.body.erro
          });
        } else {
          this.$root.$emit("Notification::show", {
            tipo: "error",
            message: "Houve um erro ao altera conta de recebimento!"
          });
        }
      } finally {
        this.$root.$emit("Loading::hide");
      }
    },
    async deleteReceive(item) {
      this.$root.$emit("Loading::show");
      try {
        await this.ActionDoDeleteReceive(item.id);
        this.$root.$emit("Notification::show", {
          tipo: "success",
          message: "Receita excluida com sucesso!"
        });
      } catch (error) {
        this.$root.$emit("Notification::show", {
          tipo: "error",
          message: "Houve um erro ao excluir receita!"
        });
      } finally {
        this.$root.$emit("Loading::hide");
      }
    }
  },
  mounted() {
    this.ActionDoFindListReceitas({ id: this.user.id, page: 0, size: 5 });
  }
};
</script>

