<template>
  <v-layout>
    <v-icon small @click="dialog = true">edit</v-icon>

    <v-dialog v-model="dialog" persistent max-width="350px">
      <v-card>
        <form @submit.prevent="submit()">
          <v-card-title>
            <span class="headline">Atualizar conta</span>
          </v-card-title>
          <v-card-text>
            <v-container grid-list-md>
              <v-layout wrap>
                <v-flex xs12>
                  <v-text-field v-model="conta.nome" label="Nome *" type="text" required></v-text-field>
                </v-flex>
                <v-flex xs12>
                  <v-text-field
                    v-model="conta.saldoInicial"
                    label="Saldo inicial *"
                    type="text"
                    required
                  ></v-text-field>
                </v-flex>
                <v-flex xs12>
                  <v-select
                    v-model="form.body.tipoContaId"
                    :items="tiposConta"
                    item-text="tipo"
                    item-value="id"
                    label="Tipo de categoria"
                    selected="conta.tipoConta"
                    required
                  ></v-select>
                </v-flex>
                <v-flex xs12>
                  <v-switch v-model="conta.incluiSoma" :label="`Inclui nas somas`" required></v-switch>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" flat @click="dialog = false">Cancelar</v-btn>
            <v-btn color="blue darken-1" flat type="submit" @click="dialog = false">Salvar</v-btn>
          </v-card-actions>
        </form>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import { mapActions, mapState } from "vuex";

export default {
  name: "AlteraConta",
  props: {
    conta: Object
  },
  data: () => ({
    dialog: false,
    form: {
      id: 0,
      body: {
        nome: "",
        saldoInicial: "",
        tipoContaId: "",
        incluiSoma: ""
      }
    }
  }),
  methods: {
    ...mapActions("account", ["ActionDoUpdateConta"]),
    ...mapActions("account", ["ActionFindListTiposConta"]),
    async submit() {
      this.$root.$emit("Loading::show");
      this.form.id = this.conta.id;
      this.form.body.nome = this.conta.nome;
      this.form.body.saldoInicial = this.conta.saldoInicial;
      this.form.body.incluiSoma = this.conta.incluiSoma;

      try {
        await this.ActionDoUpdateConta(this.form);
        this.$root.$emit("Notification::show", {
          tipo: "success",
          message: "Conta alterada com sucesso!"
        });
      } catch (erro) {
        this.$root.$emit("Notification::show", {
          tipo: "error",
          message: "Houve um erro ao atualizar conta!"
        });
      } finally {
        this.$root.$emit("Loading::hide");
      }
    },
    getIdTipoConta(payload) {
      this.form.body.tipoContaId = this.tiposConta.find(
        element => element.tipo === payload
      ).id;
    }
  },
  computed: {
    ...mapState("account", ["tiposConta"])
  },
  mounted() {
    this.getIdTipoConta(this.conta.tipoConta);
  }
};
</script>
