<template>
  <v-layout>
    <v-icon small @click="dialog = true">edit</v-icon>

    <v-dialog v-model="dialog" persistent max-width="350px">
      <v-card>
        <form @submit.prevent="submit()">
          <v-card-title>
            <span class="headline">Alterar despesa</span>
          </v-card-title>
          <v-card-text>
            <v-container grid-list-md>
              <v-layout wrap>
                <v-flex xs12>
                  <v-text-field v-model="despesa.valor" label="Valor *" type="text" required></v-text-field>
                </v-flex>
                <v-flex xs12>
                  <v-text-field
                    v-model="despesa.descricao"
                    label="Descrição *"
                    type="text"
                    required
                  ></v-text-field>
                </v-flex>
                <v-flex xs12>
                  <date-picker @data-selecionada="setData" />
                </v-flex>
                <v-flex xs12>
                  <v-select
                    v-model="form.body.categoriaId"
                    :items="getDespesas"
                    item-text="nome"
                    item-value="id"
                    label="Categoria"
                    selected="despesa.nomeCategoria"
                    required
                  ></v-select>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" flat @click="dialog = false">Cancelar</v-btn>
            <v-btn color="blue darken-1" flat type="submit" @click="dialog = false">Salvar</v-btn>
          </v-card-actions>
        </form>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import { mapActions, mapState, mapGetters } from "vuex";
import DatePicker from "../../components/global/DatePicker";

export default {
  name: "AlteraDespesa",
  props: {
    despesa: Object
  },
  data: () => ({
    dialog: false,
    form: {
      id: 0,
      body: {
        valor: 0.0,
        data: "",
        descricao: "",
        categoriaId: 0
      }
    }
  }),
  methods: {
    ...mapActions("category", ["ActionFindListCategorias"]),
    ...mapActions("expense", ["ActionDoUpdateDespesa"]),
    async submit() {
      this.$root.$emit("Loading::show");
      this.form.id = this.despesa.id;
      this.form.body.valor = this.despesa.valor;
      this.form.body.descricao = this.despesa.descricao;

      try {
        await this.ActionDoUpdateDespesa(this.form);
        this.$root.$emit("Notification::show", {
          tipo: "success",
          message: "Despesa atualizada com sucesso!"
        });
      } catch (erro) {
        if (erro.status === 400) {
          this.$root.$emit("Notification::show", {
            tipo: "warning",
            message: "Alerta !"
          });
        } else {
          this.$root.$emit("Notification::show", {
            tipo: "error",
            message: "Houve um erro ao atualizar despesa!"
          });
        }
      } finally {
        // this.limpaForm();
        this.$root.$emit("Loading::hide");
      }
    },
    limpaForm() {
      this.form.body.valor = 0.0;
      this.form.body.descricao = "";
      this.form.body.data = "";
      this.form.body.categoriaId = 0;
    },
    setData(payload) {
      this.form.body.data = payload;
    },
    getIdCategoria(payload) {
      this.form.body.categoriaId = this.getDespesas.find(
        element => element.nome === payload
      ).id;
    }
  },
  computed: {
    ...mapGetters("category", ["getDespesas"])
  },
  mounted() {
    console.log(this.getIdCategoria(this.despesa.nomeCategoria));
    this.ActionFindListCategorias();
  },
  components: {
    DatePicker
  }
};
</script>
