<template>
  <v-layout>
    <v-icon small @click="dialog = true">edit</v-icon>

    <v-dialog v-model="dialog" persistent max-width="350px">
      <v-card>
        <form @submit.prevent="submit()">
          <v-card-title>
            <span class="headline">Alterar categoria</span>
          </v-card-title>
          <v-card-text>
            <v-container grid-list-md>
              <v-layout wrap>
                <v-flex xs12>
                  <v-text-field v-model="categoria.nome" label="Descrição *" type="text" required></v-text-field>
                </v-flex>
                <v-flex xs12>
                  <seletor-cor :selecione="categoria.cor" @cor-selecionada="setCor" />
                </v-flex>
                <v-flex xs12>
                  <seletor-icone :selecione="categoria.icone" @icone-selecionado="setIcone" />
                </v-flex>
                <v-flex xs12>
                  <v-select
                    v-model="categoria.tipo"
                    :items="['DESPESA', 'RECEITA']"
                    label="Tipo de categoria"
                    required
                  ></v-select>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" flat @click="dialog = false">Cancelar</v-btn>
            <v-btn color="blue darken-1" flat type="submit" @click="dialog = false">Salvar</v-btn>
          </v-card-actions>
        </form>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import { mapActions } from "vuex";
import SeletorCor from "../../components/global/SeletorCor";
import SeletorIcone from "../../components/global/SeletorIcone";

export default {
  name: "AlteraCategoria",
  props: {
    categoria: Object
  },
  data: () => ({
    dialog: false,
    body: {
      nome: "",
      cor: "",
      icone: "",
      tipo: ""
    }
  }),
  methods: {
    ...mapActions("category", ["ActionDoUpdateCategoria"]),
    async submit() {
      this.$root.$emit("Loading::show");
      this.body.nome = this.categoria.nome;
      this.body.cor = this.categoria.cor;
      this.body.icone = this.categoria.icone;
      this.body.tipo = this.categoria.tipo;
      try {
        await this.ActionDoUpdateCategoria({
          id: categoria.id,
          body: this.body
        });
        this.$root.$emit("Notification::show", {
          tipo: "success",
          message: "Categoria alterada com sucesso!"
        });
      } catch (erro) {
        this.$root.$emit("Notification::show", {
          tipo: "error",
          message: "Erro ao alterar categoria!"
        });
      } finally {
        this.$root.$emit("Loading::hide");
      }
    },
    setCor(payload) {
      this.form.body.cor = payload;
    },
    setIcone(payload) {
      this.form.body.icone = payload;
    }
  },
  components: {
    SeletorCor,
    SeletorIcone
  }
};
</script>
