<template>
  <v-layout row justify-center>
    <v-icon small @click="dialog = true">autorenew</v-icon>

    <v-dialog v-model="dialog" max-width="350">
      <v-form @submit.prevent="getConta()">
        <v-card>
          <v-card-title class="headline">Alterar conta de recebimento</v-card-title>

          <v-card-text>
            <v-flex xs12>
              <v-select
                v-model="contaId"
                :items="allContas"
                item-text="nome"
                item-value="id"
                label="Conta"
                required
                black
                solo
              ></v-select>
            </v-flex>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>

            <v-btn color="green darken-1" flat="flat" @click="dialog = false">Discordar</v-btn>
            <v-btn color="green darken-1" flat="flat" type="submit">Aceitar</v-btn>
          </v-card-actions>
        </v-card>
      </v-form>
    </v-dialog>
  </v-layout>
</template>

<script>
import { mapActions, mapState } from "vuex";

export default {
  name: "AlteraContaReceita",
  props: ["receitaid"],
  data() {
    return {
      dialog: false,
      contaId: 0
    };
  },
  methods: {
    ...mapActions("account", ["ActionFindListAllContas"]),
    getConta() {
      if (this.contaId === 0) {
        this.$root.$emit("Notification::show", {
          tipo: "warning",
          message: "Selecione uma conta!"
        });
        return;
      }
      this.$emit("conta-selecionada", {
        id: this.receitaid,
        contaId: this.contaId
      });
      this.dialog = false;
      this.contaId = 0;
    }
  },
  computed: {
    ...mapState("auth", ["user"]),
    ...mapState("account", ["allContas"])
  },
  mounted() {
    this.ActionFindListAllContas({ id: this.user.id });
  }
};
</script>