<template>
  <v-container fluid grid-list-xs>
    <v-layout row wrap>
      <v-flex xs12>
        <v-sheet class="pa-1" color="grey lighten-4">
          <v-layout>
            <v-spacer></v-spacer>
            <v-flex xs2 md1>
              <cadastro-conta></cadastro-conta>
            </v-flex>
          </v-layout>
        </v-sheet>
      </v-flex>
    </v-layout>

    <v-layout row wrap>
      <v-flex xs12 sm12 md7 mt-2>
        <v-card flat>
          <v-layout row>
            <v-flex sm12 xs12>
              <v-card class="card--flex-toolbar">
                <v-toolbar card prominent>
                  <v-layout row wrap>
                    <v-flex xs8 md10>
                      <blockquote class="blockquote title">Contas cadastradas</blockquote>
                    </v-flex>

                    <v-spacer></v-spacer>
                    <v-flex xs2 md1>
                      <transferencia />
                    </v-flex>
                    <v-flex xs2 md1>
                      <v-btn @click="olho = !olho" icon>
                        <v-icon>{{ olho ? 'visibility_off' : 'visibility' }}</v-icon>
                      </v-btn>
                    </v-flex>
                  </v-layout>
                </v-toolbar>

                <v-divider></v-divider>
                <v-card-text>
                  <v-data-table
                    :headers="headers"
                    :items="contas.content"
                    :search="search"
                    hide-actions
                    class="elevation-0"
                  >
                    <template v-slot:items="props">
                      <td class="text-xs-left">
                        <v-tooltip bottom>
                          <template v-slot:activator="{ on }">
                            <v-icon
                              v-on="on"
                              :color="props.item.tipoContaCor"
                            >{{props.item.tipoContaIcone}}</v-icon>
                          </template>
                          <span>{{props.item.tipoContaTipo}}</span>
                        </v-tooltip>
                      </td>
                      <td class="text-xs-left">{{ props.item.nome }}</td>
                      <td class="text-xs-left">{{ props.item.tipoConta }}</td>
                      <td class="text-xs-center">{{ props.item.incluiSoma ? "sim":"Não"}}</td>
                      <td class="text-xs-center" v-if="olho">{{props.item.saldoInicial}}</td>
                      <td class="text-xs-center" v-else>
                        <v-icon color="red">money_off</v-icon>
                      </td>
                      <td>
                        <v-layout row wrap>
                          <v-flex>
                            <altera-conta :conta="props.item"></altera-conta>
                          </v-flex>
                          <v-flex>
                            <modal-confirmacao
                              titulo="Exclusão"
                              mensagem="Deseja excluir esta conta?"
                              icone="delete"
                              @confirmaModal="deleteItem(props.item)"
                            ></modal-confirmacao>
                          </v-flex>
                        </v-layout>
                      </td>
                    </template>
                  </v-data-table>
                  <div class="text-xs-center pt-2">
                    <v-pagination
                      v-model="pagination.page"
                      :length="contas.totalPages"
                      @input="proximaPagina"
                    ></v-pagination>
                  </div>
                </v-card-text>
              </v-card>
            </v-flex>
          </v-layout>
        </v-card>
      </v-flex>

      <v-spacer></v-spacer>
      <v-flex xs12 sm12 md4 mt-2>
        <v-card mr-2>
          <v-card-title primary-title>
            <div class="font-weight-light display-1 center">Somas dos valores</div>
          </v-card-title>
          <v-card-text>
            <blockquote class="blockquote">
              <div class="title font-weight-light">{{ getTotalSaldo }}</div>
            </blockquote>
          </v-card-text>
          <v-card-actions>
            <v-btn flat color="primary">text</v-btn>
            <v-btn flat color="primary">text</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { mapActions, mapState, mapGetters } from "vuex";
import CadastroConta from "../../components/cadastro/CadastroConta";
import ModalConfirmacao from "../../components/global/ModalConfirmacao";
import Transferencia from "../../components/transferencia/Transferencia";
import AlteraConta from "../../components/alteracao/AlteraConta";

export default {
  name: "Contas",
  data: () => ({
    olho: false,
    headers: [
      { text: "Tipo", sortable: false, value: "tipoContaIcone" },
      { text: "Nome", value: "nome" },
      {
        text: "Tipo de Conta",
        sortable: false,
        value: "tipoConta"
      },
      {
        text: "Entra na soma",
        sortable: false,
        value: "incluiSoma"
      },
      { text: "Saldo atual", value: "saldoInicial" },
      { text: "Ações", value: "nome", sortable: false }
    ],
    search: "",
    pagination: {}
  }),
  mounted() {
    this.ActionFindListContas({ id: this.user.id, pagina: 0, qtd: 5 });
    this.pagination.rowsPerPage = this.contas.size;
    this.pagination.totalItems = this.contas.totalElements;
  },
  methods: {
    ...mapActions("account", ["ActionFindListContas"]),
    ...mapActions("account", ["ActionDoDeleteConta"]),
    proximaPagina() {
      this.ActionFindListContas({
        id: this.user.id,
        pagina: this.pagination.page - 1,
        qtd: 5
      });
    },
    async deleteItem(item) {
      this.$root.$emit("Loading::show");
      try {
        await this.ActionDoDeleteConta({ id: item.id });
        this.$root.$emit("Notification::show", {
          tipo: "success",
          message: "Conta excluída com sucesso!"
        });
      } catch (error) {
        this.$root.$emit("Notification::show", {
          tipo: "error",
          message: "Houve um erro para excluir a conta!"
        });
      } finally {
        this.$root.$emit("Loading::hide");
      }
    }
  },
  computed: {
    ...mapState("auth", ["user"]),
    ...mapState("account", ["contas"]),
    ...mapGetters("account", ["getTotalSaldo"]),
    pages() {
      return Math.ceil(
        this.contas.totalElements / this.contas.numberOfElements
      );
    }
  },
  components: {
    CadastroConta,
    ModalConfirmacao,
    Transferencia,
    AlteraConta
  }
};
</script>