<template>
  <v-layout>
    <v-dialog v-model="dialog" persistent max-width="400px">
      <template v-slot:activator="{ on }">
        <v-btn right fab small color="error" v-on="on">
          <v-icon>add</v-icon>
        </v-btn>
      </template>
      <v-card>
        <form @submit.prevent="submit()">
          <v-card-title>
            <span class="headline">Registrar despesa</span>
          </v-card-title>
          <v-card-text>
            <v-container grid-list-md>
              <v-layout wrap>
                <v-flex xs12>
                  <v-text-field v-model="form.valor" label="Valor *" type="text" required></v-text-field>
                </v-flex>
                <v-flex xs12>
                  <v-text-field v-model="form.descricao" label="Descrição *" type="text" required></v-text-field>
                </v-flex>
                <v-flex xs12>
                  <date-picker @data-selecionada="setData" />
                </v-flex>
                <v-flex xs12>
                  <v-select
                    v-model="form.categoriaId"
                    :items="getDespesas"
                    item-text="nome"
                    item-value="id"
                    label="Categoria"
                    required
                  ></v-select>
                </v-flex>
                <v-flex xs12>
                  <v-select
                    v-model="form.contaId"
                    :items="allContas"
                    item-text="nome"
                    item-value="id"
                    label="Conta"
                    required
                  ></v-select>
                </v-flex>
                <v-flex xs12>
                  <v-switch v-model="form.pago" label="Já foi pago?"></v-switch>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" flat @click="dialog = false">Cancelar</v-btn>
            <v-btn color="blue darken-1" flat type="submit" @click="dialog = false">Salvar</v-btn>
          </v-card-actions>
        </form>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import { mapActions, mapState, mapGetters } from "vuex";
import DatePicker from "../../components/global/DatePicker";

export default {
  name: "CadastroDespesa",
  data: () => ({
    dialog: false,
    form: {
      valor: 0.0,
      descricao: "",
      data: "",
      categoriaId: 0,
      contaId: 0,
      pago: true
    }
  }),
  methods: {
    ...mapActions("category", ["ActionFindListCategorias"]),
    ...mapActions("account", ["ActionFindListAllContas"]),
    ...mapActions("expense", ["ActionDoSaveDespesa"]),
    async submit() {
      this.$root.$emit("Loading::show");
      try {
        await this.ActionDoSaveDespesa(this.form);
        this.$root.$emit("Notification::show", {
          tipo: "success",
          message: "Despesa adicionada com sucesso!"
        });
      } catch (erro) {
        if (erro.status === 400) {
          this.$root.$emit("Notification::show", {
            tipo: "warning",
            message: "Alerta !"
          });
        } else {
          this.$root.$emit("Notification::show", {
            tipo: "error",
            message: "Houve um erro ao adicionar despesa!"
          });
        }
      } finally {
        this.limpaForm()
        this.$root.$emit("Loading::hide");
      }
    },
    limpaForm() {
      this.form.valor = 0.0;
      this.form.descricao = "";
      this.form.data = "";
      this.form.categoriaId = 0;
      this.form.contaId = 0;
    },
    setData(payload) {
      this.form.data = payload;
    }
  },
  computed: {
    ...mapState("auth", ["user"]),
    ...mapGetters("category", ["getDespesas"]),
    ...mapState("account", ["allContas"])
  },
  mounted() {
    this.ActionFindListCategorias();
    this.ActionFindListAllContas({ id: this.user.id });
  },
  components: {
    DatePicker
  }
};
</script>
