<template>
  <v-layout>
    <v-dialog v-model="dialog" persistent max-width="400px">
      <template v-slot:activator="{ on }">
        <v-btn right fab small color="orange" v-on="on">
          <v-icon>add</v-icon>
        </v-btn>
      </template>
      <v-card>
        <form @submit.prevent="submit()">
          <v-card-title>
            <span class="headline">Cadastrar cartão</span>
          </v-card-title>
          <v-card-text>
            <v-container grid-list-md>
              <v-layout wrap>
                <v-flex xs12>
                  <v-text-field v-model="form.descricao" label="Descrição *" type="text" required></v-text-field>
                </v-flex>
                <v-flex xs12 sm6>
                  <v-text-field
                    v-model="form.fechamento"
                    label="Dia do fechamento *"
                    type="number"
                    required
                  ></v-text-field>
                </v-flex>
                <v-flex xs12 sm6>
                  <v-text-field
                    v-model="form.vencimento"
                    label="Dia do vencimento *"
                    type="number"
                    required
                  ></v-text-field>
                </v-flex>
                <v-flex xs12>
                  <v-text-field v-model="form.limite" label="Limite *" type="number" required></v-text-field>
                </v-flex>
                <v-flex xs12>
                  <v-select
                    v-model="form.bandeiraId"
                    :items="bandeiras"
                    item-text="nome"
                    item-value="id"
                    label="Bandeiras *"
                    required
                  ></v-select>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" flat @click="dialog = false">Cancelar</v-btn>
            <v-btn color="blue darken-1" flat type="submit" @click="dialog = false">Salvar</v-btn>
          </v-card-actions>
        </form>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import { mapActions, mapState } from "vuex";

export default {
  name: "CadastroCartao",
  data: () => ({
    dialog: false,
    form: {
      descricao: "",
      fechamento: 0,
      vencimento: 0,
      limite: 0,
      bandeiraId: 0,
      usuarioId:0
    }
  }),
  methods: {
    ...mapActions("card", ["ActionDoListBandeiras"]),
    ...mapActions("card", ["ActionDoSaveCartao"]),
    async submit() {
      this.$root.$emit("Loading::show");
      try {
        this.form.usuarioId = this.user.id;

        await this.ActionDoSaveCartao(this.form);

        this.$root.$emit("Notification::show", {
          tipo: "success",
          message: "Cartão salvo com sucesso!"
        });
      } catch (error) {
        this.$root.$emit("Notification::show", {
          tipo: "error",
          message: "Erro ao adicionar cartão!"
        });
      } finally {
        this.$root.$emit("Loading::hide");
      }
    }
  },
  computed: {
    ...mapState("card", ["bandeiras"]),
    ...mapState("auth", ["user"])
  },
  mounted() {
    this.ActionDoListBandeiras();
  }
};
</script>
