<template>
  <v-layout row justify-center>
    <v-btn right fab small color="pink" @click="dialog = true">
      <v-icon dark>add</v-icon>
    </v-btn>
    <v-dialog v-model="dialog" persistent max-width="400px">
      <v-card>
        <form @submit.prevent="submit()">
          <v-card-title>
            <span class="headline">Cadastrar categoria</span>
          </v-card-title>
          <v-card-text>
            <v-container grid-list-md>
              <v-layout wrap>
                <v-flex xs12>
                  <v-text-field v-model="form.nome" label="Descrição *" type="text" required></v-text-field>
                </v-flex>
                <v-flex xs12>
                  <seletor-cor @cor-selecionada="setCor" />
                </v-flex>
                <v-flex xs12>
                  <seletor-icone @icone-selecionado="setIcone" />
                </v-flex>
                <v-flex xs12>
                  <v-select
                    v-model="form.tipo"
                    :items="['DESPESA', 'RECEITA']"
                    label="Tipo de categoria"
                    required
                  ></v-select>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" flat @click="dialog = false">Cancelar</v-btn>
            <v-btn color="blue darken-1" flat type="submit" @click="dialog = false">Salvar</v-btn>
          </v-card-actions>
        </form>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import { mapActions } from "vuex";
import SeletorCor from "../../components/global/SeletorCor";
import SeletorIcone from "../../components/global/SeletorIcone";

export default {
  name: "CadastroCategoria",
  data: () => ({
    dialog: false,
    form: {
      cor: "",
      nome: "",
      tipo: "",
      icone: ""
    }
  }),
  methods: {
    ...mapActions("category", ["ActionDoSaveCategoria"]),
    async submit() {
      this.$root.$emit("Loading::show");
      try {
        await this.ActionDoSaveCategoria(this.form);
        this.$root.$emit("Notification::show", {
          tipo: "success",
          message: "Categoria adicionada com sucesso!"
        });
      } catch (erro) {
        if (erro.status === 400) {
          this.$root.$emit("Notification::show", {
            tipo: "warning",
            message: "Alerta!, todos os campos são obrigatórios"
          });
        } else {
          this.$root.$emit("Notification::show", {
            tipo: "error",
            message: "Houve um erro ao cadastrar categoria!"
          });
        }
      } finally {
        this.limpaForm();
        this.$root.$emit("Loading::hide");
      }
    },
    limpaForm() {
      this.form.cor = "";
      this.form.nome = "";
      this.form.tipo = "";
      this.form.icone = "";
    },
    setCor(payload) {
      this.form.cor = payload;
    },
    setIcone(payload) {
      this.form.icone = payload;
    }
  },
  components: {
    SeletorCor,
    SeletorIcone
  }
};
</script>
