<template>
  <v-layout>
    <v-dialog v-model="dialog" persistent max-width="400px">
      <template v-slot:activator="{ on }">
        <v-btn right fab small color="indigo" v-on="on">
          <v-icon>add</v-icon>
        </v-btn>
      </template>
      <v-card>
        <form @submit.prevent="submit()">
          <v-card-title>
            <span class="headline">Cadastrar conta</span>
          </v-card-title>
          <v-card-text>
            <v-container grid-list-md>
              <v-layout wrap>
                <v-flex xs12>
                  <v-text-field v-model="form.nome" label="Nome *" type="text" required></v-text-field>
                </v-flex>
                <v-flex xs12>
                  <v-text-field
                    v-model="form.saldoInicial"
                    label="Saldo inicial *"
                    type="tel"
                    required
                  ></v-text-field>
                </v-flex>
                <v-flex xs12>
                  <v-select
                    v-model="form.tipoContaId"
                    :items="tiposConta"
                    item-text="tipo"
                    item-value="id"
                    label="Tipo de categoria"
                    required
                  ></v-select>
                </v-flex>
                <v-flex xs12>
                  <v-switch v-model="form.incluiSoma" :label="`Inclui nas somas`" required></v-switch>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" flat @click="dialog = false">Cancelar</v-btn>
            <v-btn color="blue darken-1" flat type="submit" @click="dialog = false">Salvar</v-btn>
          </v-card-actions>
        </form>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import { mapActions, mapState } from "vuex";

export default {
  name: "CadastroConta",
  data: () => ({
    dialog: false,
    form: {
      nome: "",
      saldoInicial: "",
      usuarioId: 0,
      tipoContaId: 0,
      incluiSoma: true
    }
  }),
  methods: {
    ...mapActions("account", ["ActionDoSaveConta"]),
    ...mapActions("account", ["ActionFindListTiposConta"]),
    async submit() {
      this.$root.$emit("Loading::show");
      try {
        this.form.usuarioId = this.user.id;
        await this.ActionDoSaveConta(this.form);
        this.$root.$emit("Notification::show", {
          tipo: "success",
          message: "Conta salva com sucesso!"
        });
      } catch (erro) {
        this.$root.$emit("Notification::show", {
          tipo: "error",
          message: "Erro ao adicionar conta!"
        });
      } finally {
        this.limpaForm();
        this.$root.$emit("Loading::hide");
      }
    },
    limpaForm() {
      this.form.nome = "";
      this.form.saldoInicial = 0;
      this.form.usuarioId = 0;
      this.form.tipoContaId = 0;
      this.form.incluiSoma = true;
    }
  },
  computed: {
    ...mapState("account", ["tiposConta"]),
    ...mapState("auth", ["user"])
  },
  mounted() {
    this.ActionFindListTiposConta();
  }
};
</script>
