<template>
  <v-layout>
    <v-dialog v-model="dialog" persistent max-width="450px">
      <template v-slot:activator="{ on }">
        <v-btn right fab small color="red" v-on="on">
          <v-icon>shopping_cart</v-icon>
        </v-btn>
      </template>
      <v-card>
        <form @submit.prevent="submit()">
          <v-card-title>
            <span class="headline">Compra no cartão</span>
          </v-card-title>
          <v-card-text>
            <v-container grid-list-md>
              <v-layout wrap>
                <v-flex xs6 sm6>
                  <v-text-field v-model="form.valor" label="Valor *" type="tel" required></v-text-field>
                </v-flex>
                <v-flex xs6 sm6>
                  <date-picker @data-selecionada="setData" />
                </v-flex>
                <v-flex xs12>
                  <v-text-field v-model="form.descricao" label="Descrição *" type="text" required></v-text-field>
                </v-flex>
                <v-flex xs12>
                  <v-select
                    v-model="form.categoriaId"
                    :items="getDespesas"
                    item-text="nome"
                    item-value="id"
                    label="Categoria"
                    required
                  ></v-select>
                </v-flex>
                <v-flex xs12>
                  <v-select
                    v-model="form.cartaoId"
                    :items="cartoes"
                    item-text="descricao"
                    item-value="id"
                    label="Conta"
                    required
                  ></v-select>
                </v-flex>
                <v-flex xs12 sm4>
                  <v-switch v-model="form.parcelado" label="parcelar" xs12 sm3></v-switch>
                </v-flex>
                <v-flex xs6 sm4 v-if="form.parcelado">
                  <v-text-field v-model="form.qtd" label="qtd" type="number" required xs12 sm3></v-text-field>
                </v-flex>
                <v-flex xs6 sm4 v-if="form.parcelado">
                  <v-text-field v-model="valorParcela" label="parcela" type="tel" required xs12 sm3></v-text-field>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" flat @click="dialog = false">Cancelar</v-btn>
            <v-btn color="blue darken-1" flat type="submit">Salvar</v-btn>
          </v-card-actions>
        </form>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import { mapGetters, mapActions, mapState } from "vuex";
import DatePicker from "../../components/global/DatePicker";

export default {
  name: "CompraCartao",
  data: () => ({
    dialog: false,
    form: {
      valor: 0,
      data: "",
      descricao: "",
      categoriaId: 0,
      cartaoId: 0,
      parcelado: false,
      qtd:1,
      parcela:0
    }
  }),
  components: {
    DatePicker
  },
  methods: {
    ...mapActions("category", ["ActionFindListCategorias"]),
    ...mapActions("card",["ActionDoCompraCartao"]),
    async submit() {
      try {
        await this.ActionDoCompraCartao(this.form)
                
      } catch (error) {
        console.log("Erro> " , error);
      }finally{
        this.dialog = false
      }
    },
    setData(payload) {
      this.form.data = payload;
    }
  },
  computed: {
    ...mapState("card", ["cartoes"]),
    ...mapGetters("category", ["getDespesas"]),
    valorParcela() {
      let val = this.form.valor / this.form.qtd;
      const og = Math.pow(10, 2);
      this.form.parcela = Math.floor(val * og) / og;
      return this.form.parcela;
    }
  },
  mounted() {
    this.ActionFindListCategorias();
  }
};
</script>
