<template>
  <v-app>
    <load-spinner />
    <alerta-carregando/>
    <v-toolbar flat app v-if="isLogado()">
      <v-toolbar-side-icon class="grey--text" @click="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title class="text-uppercase grey--text">
        <span class="font-weight-light">Imperium</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn flat color="grey">
        <span>Sign Out</span>
        <v-icon right>exit_to_app</v-icon>
      </v-btn>
    </v-toolbar>

    <v-navigation-drawer app v-model="drawer" :mini-variant="mini" v-if="isLogado()">
      <v-list class="pa-1">
        <v-list-tile v-if="mini" @click.stop="mini = !mini">
          <v-list-tile-action>
            <v-icon>chevron_right</v-icon>
          </v-list-tile-action>
        </v-list-tile>

        <v-list-tile avatar tag="div">
          <v-list-tile-avatar>
            <img src="https://randomuser.me/api/portraits/men/85.jpg" />
          </v-list-tile-avatar>

          <v-list-tile-content>
            <v-list-tile-title class="font-weight-light grey--text">{{user.nome}}</v-list-tile-title>
          </v-list-tile-content>

          <v-list-tile-action>
            <v-btn icon @click.stop="mini = !mini">
              <v-icon>chevron_left</v-icon>
            </v-btn>
          </v-list-tile-action>
        </v-list-tile>
      </v-list>

      <v-list class="pt-0">
        <v-divider light></v-divider>

        <v-list-tile :to="item.path" v-for="item in routerLinks" :key="item.title">
          <v-list-tile-action>
            <v-icon>{{ item.meta.icon }}</v-icon>
          </v-list-tile-action>

          <v-list-tile-content>
            <v-list-tile-title class="grey--text">{{ item.meta.title }}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>

    <v-content>
      <router-view></router-view>
    </v-content>

    <v-footer app fixed>
      <alerta-notificacao />
      <v-layout row wrap>
        <v-flex xs12 ma-3>
          <span class="right">&copy; Jeferson Menezes 2019</span>
        </v-flex>
      </v-layout>
    </v-footer>
  </v-app>
</template>

<script>
import store from "./store";
import { mapState } from "vuex";
import AlertaNotificacao from "./components/global/AlertaNotificacao";
import LoadSpinner from "./components/global/LoadSpinner";
import AlertaCarregando from "./components/global/AlertaCarregando";

export default {
  name: "App",
  data: () => {
    return {
      drawer: null,
      isLogged: false,
      mini: true,
      right: null
    };
  },
  methods: {
    isLogado() {
      return store.getters["auth/isLogged"];
    }
  },
  computed: {
    ...mapState("auth", ["user"]),
    routerLinks() {
      return this.$router.options.routes.filter(r => r.name !== "login");
    }
  },
  components: {
    AlertaNotificacao,
    LoadSpinner,
    AlertaCarregando
  },
  mounted() {
    setTimeout(() => {
      this.$root.$emit("Spinner::hide");
    }, 300);
  }
};
</script>