<template>
  <v-layout row justify-center>
    <v-icon small  @click="dialog = true">{{icone}}</v-icon>

    <v-dialog v-model="dialog" max-width="290">
      <v-card>
        <v-card-title class="headline">{{titulo}}</v-card-title>

        <v-card-text>{{mensagem}}</v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="green darken-1" flat="flat" @click="dialog = false">Discordar</v-btn>
          <v-btn color="green darken-1" flat="flat" @click="disparaAcao()">Aceitar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
export default {
  name:'ModalConfirmacao',
  props: ["titulo", "mensagem", "icone"],
  data() {
    return {
      dialog: false
    };
  },
  methods: {
    disparaAcao() {
      this.$emit("confirmaModal");
      this.dialog = false;
    }
  }
};
</script>