<template>
  <v-layout row wrap align-right>
    <v-flex xs2 mt-1>
      <v-icon large :color="selected">fiber_manual_record</v-icon>
    </v-flex>
    <v-flex xs10>
      <v-select
        :items="cores"
        v-model="selected"
        menu-props="auto"
        label="Selecione uma cor"
        :background-color="selected"
        selected="selecione"
        black
        solo
        @change="getCor()"
      ></v-select>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  props:["selecione"],
  data: () => ({
    selected: "",
    cores: [
      "red",
      "red darken-4",
      "red accent-4",
      "pink",
      "pink darken-4",
      "pink accent-4",
      "purple",
      "purple darken-1",
      "purple accent-4",
      "deep-purple",
      "deep-purple darken-4",
      "deep-purple accent-4",
      "indigo",
      "indigo darken-1",
      "indigo darken-4",
      "blue",
      "blue darken-1",
      "blue darken-4",
      "light-blue",
      "light-blue darken-1",
      "light-blue darken-4",
      "cyan",
      "cyan darken-1",
      "cyan darken-4",
      "blue",
      "teal darken-1",
      "cyan",
      "teal",
      "green",
      "light-green",
      "lime",
      "yellow",
      "amber",
      "orange",
      "deep-orange",
      "brown",
      "blue-grey"
    ]
  }),
  mounted(){
    this.selected = this.selecione
  },
  methods: {
    getCor() {
      this.$emit("cor-selecionada", this.selected);
    }
  }
};
</script>