<template>
  <v-layout row wrap align-right>
    <v-flex xs2 mt-1>
      <v-icon large>{{selected}}</v-icon>
    </v-flex>
    <v-flex xs10>
      <v-select
        :items="icones"
        v-model="selected"
        menu-props="auto"
        label="Selecione um ícone"
        :background-color="selected"
        selected="selecione"
        black
        solo
        @change="getIcone()"
      ></v-select>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  props: ["selecione"],
  data: () => ({
    selected: "",
    icones: [
      "account_balance_wallet",
      "add_shopping_cart",
      "build",
      "favorite",
      "flight_takeoff",
      "home",
      "loyalty",
      "payment",
      "perm_media",
      "perm_phone_msg",
      "remove_shopping_cart",
      "room",
      "shopping_cart",
      "store",
      "theaters",
      "turned_in",
      "work",
      "album",
      "library_music",
      "movie",
      "phone_android",
      "games",
      "brush",
      "color_lens",
      "fastfood",
      "hotel",
      "local_cafe",
      "local_bar",
      "local_car_wash",
      "local_dining",
      "local_mall",
      "local_pizza",
      "restaurant",
      "beach_access",
      "child_friendly",
      "cake",
      "directions_bus",
      "book"
    ]
  }),
  mounted() {
    this.selected = this.selecione;
  },
  methods: {
    getIcone() {
      this.$emit("icone-selecionado", this.selected);
    }
  }
};
</script>